In [3]:
import csv
import pandas as pd
import os

In [20]:
inputfilepath=os.path.join("..","raw_data","input","zip_to_zcta_2017.xlsx")
zip1=pd.read_excel(inputfilepath)
zip1.head()

,ZIP_CODE,PO_NAME,STATE,ZIP_TYPE,ZCTA,Zip_join_type
0,501,Holtsville,NY,Post Office or large volume customer,11742,Spatial join to ZCTA
1,544,Holtsville,NY,Post Office or large volume customer,11742,Spatial join to ZCTA
2,601,Adjuntas,PR,Zip Code Area,601,Zip Matches ZCTA
3,602,Aguada,PR,Zip Code Area,602,Zip Matches ZCTA
4,603,Aguadilla,PR,Zip Code Area,603,Zip Matches ZCTA

In [21]:
zip1=zip1[["ZIP_CODE","ZCTA"]]
zip1.head()

   ZIP_CODE   ZCTA
0       501  11742
1       544  11742
2       601    601
3       602    602
4       603    603

In [17]:
Censusfilepath=os.path.join("..","raw_data","input","Census.csv")
census=pd.read_csv(Censusfilepath)
census.head()

   Zip Code ZCTA  2010 Census Population
0           1001                   16769
1           1002                   29049
2           1003                   10372
3           1005                    5079
4           1007                   14649

In [18]:
census.columns=["ZCTA","Population"]

In [19]:
census.head()

   ZCTA  Population
0  1001       16769
1  1002       29049
2  1003       10372
3  1005        5079
4  1007       14649

In [25]:
new_census=zip1.merge(census,how='inner')
new_census.head()

   ZIP_CODE   ZCTA  Population
0       501  11742       13261
1       544  11742       13261
2     11742  11742       13261
3      1001   1001       16769
4      1002   1002       29049

In [26]:
outputfilepath=os.path.join("..","raw_data","output","fipstostate.csv")
new_census.to_csv(outputfilepath)